* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	/* we might want to add media queries */
}

#gameCanvas {
	margin: 75px auto;
	display: block;
	background: url(../images/lava!!.gif) no-repeat;
}

#lang {
	float: right;
	margin: 50px 250px 0 0;
}